/* 
**** COLOUR SCHEME****

Darker Yellow: #F8D247

Lighter Yellow: #FBEA79

Dark Red: #ff414e

Gray: #343A40

White: #ffffff 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8d247;
}
